#board {
	height: 90vh;
	width: 90vh;
	/*border-collapse: collapse;*/
	float: left;
}

table, th, td {
   border: 1px solid black;
}

td {
	background-color: white;
}

.alive {
	background-color: black;
}

.dead {
	background-color: white;
}