body {
	font-family: 'Ubuntu', sans-serif;
}

#board {
	height: 85vh;
	width: 85vh;
	margin-left: 100px;
	/*border-collapse: collapse;*/
	float: left;
}

#welcome {
	background-color: lightgray;
}

#board {
   border: 2px solid black;
}

#grammars {
	margin-top: 5%;
	margin-left: 100px;
	float: left;
}

#rules {
	border: 2px solid black;
}

#rules td, th {
	background-color: lightgray;
}

#rules td {
	border-right: 3px solid black;
}

#rules_row {
	border-bottom: 3px solid black;
}

#controls {
	text-align: center;
}

.rule {
	cursor: pointer;
}

.rule img {
	max-width: 250px;
	height:auto;
}

.computation {
	text-align: center;
	background-color: white;

}

.computation img {
	width: auto;
	max-height:125px;
	cursor: pointer;
}

td {
	background-color: white;
}

.alive {
	background-color: black;
}

.dead {
	background-color: white;
}

.copyright {
	text-align: center;
	bottom: 10px;
    width: 100%;
    position: absolute;
}

a.button3{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:10 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:300;
	color:#FFFFFF;
	background-color:#4eb5f1;
	text-align:center;
	transition: all 0.2s;
}

a.button3:hover{
	background-color:#4095c6;
}

@media all and (max-width:30em){
	a.button3{
 	display:block;
 	margin:0.2em auto;
 }
} 